<div class="text-sm ml-4">
    <!-- Username/!-->
    <p class="text-gray-900 leading-none capitalize font-bold">
        <%= @help.author %>
        <!-- course material-->
        <span class="font-thin text-sm hover:bg-white hover:underline"> cente d'aide
            <span class="capitalize"><%= @help.material.title %></span>
        </span>
    </p>
</div>
