<div class="card h-18">
    <div class="flex my-1 ml-2">
      <!-- avatar 32X32/!-->
      <img src="https://bulma.io/images/placeholders/32x32.png" class=" flex w-6 h-6 rounded-full mr-2">
      <!--Name author course/!-->
      <span class="font-bold text-gray-900 leading-none capitalize ">
        <%= current_user.full_name %>
      </span>
    </div>

    <div class="flex items-center mx-2 mb-1">
      <form class="form-inline">
        <input class="form-control mr-sm-2 mr-md-8" type="text" placeholder="Recherche une fiche prartique..." aria-label="Search">
        <button class="btn btn-outline-primary btn-rounded btn-sm my-0 " type="submit">Recherche...</button>
      </form>
    </div>
</div>
