<% content_for @title = @course.title %>


<div class="container-sm">
  <div class="row pt-16 ">
    <div class="col-12 col-md-6 col-lg-6">

      <!-- card course-->
      <div class="card">
        <!-- title!-->
        <h1 class="text-xl leading-tight font-bold mt-2 mx-2">
          <%= @course.title %>
        </h1>

         <!-- avatar data/!-->
        <div class="flex items-cente mt-4 ml-6">
          <img class="w-10 h-10 bg-gray-400 rounded-full">
          <!-- Course meta data-->
          <%= render "courses/shared/course_data" %>
        </div>

        <!--content/!-->
        <div class="m-2">
          <p class="mx-2" id="read_more">
            <%= @course.content.to_s.html_safe %>
          </p>
          <hr>
          <!-- Options-->
          <%= render "courses/shared/options" %>
        </div>
      </div>
    </div>
    <!-- Exercices-->
    <div class="col-12 col-md-6 col-lg-6">
    <h1 class="font-bold text-xl">Les Exercices pratiques</h1>
      <div class="card">
        <span class="m-1">
            <p>car d'autres fabricants ont rapidement rejoint le train en marche. Le vrai champ de bataille, ce sont les voitures autonomes - celui qui obtient ce droit en premier bénéficiera d'un énorme avantage de premier arrivé - énorme parce que la collecte de données réelles en premier ramènera l'avantage - un effet de réseau. Et Tesla a déjà des centaines de milliers de ces voitures collectant des données. Le plus grand gagnant de la course automobile ne sera pas le premier à produire des véhicules électriques en série. Ce sera le premier à gagner dans le logiciel - comme nous l'avons vu pour les PC et les mobiles. Cela pourrait bien finir par être Tesla.</p>
        </span>
      </div>
    </div>

  </div>
</div>

