<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= exercice.title %>:</strong>
          <%= exercice.content %>
        </p>
      </div>
    </div>
     <%= link_to 'Delete', [exercice.course, exercice],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
  </article>

</div>